<!DOCTYPE html>
<html>
    <head>
        <title> {% block title %}{% endblock %} </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

        <style>
            h2{
                text-align: center;
                text-decoration: underline;
            }

            body{
                background-color: lightgray;
            }
        </style>
    </head>

    <body>
        <!-- we have given a space for heading variables to go in block heading -->
        <div class = "container">

            {% block body %}
            {% endblock %}

        </div>


    </body>
</html>
